/*清除元素默认的内外边距  */
* {
    margin: 0;
    padding: 0;
}
p {
    margin: 0;
}
/*让所有斜体 不倾斜*/
em {
    font-style: normal;
}
/*去掉列表前面的小点*/
li {
    list-style: none;
}
/*图片没有边框   去掉图片底侧的空白缝隙*/
img {
    border: 0;  /*ie6*/
    vertical-align: middle;
}
/*让button 按钮 变成小手*/
button {
    cursor: pointer;
}
/*取消链接的下划线*/
a {
    color: #1b1b1f;
    text-decoration: none !important;
}
a:hover {
    color: #e33333;
}
button, input {
    font-family: PingFang SC, 'Microsoft YaHei',  arial, sans-serif;
    outline: none;
}

/*清除浮动*/
.clearfix:before,.clearfix:after{
    content: " ";
    display: block;
    height: 0;
    overflow: hidden;
    visibility: hidden;
    width: 0
}
.clearfix {
    *zoom: 1
}
/*公共样式*/
.fl {
	float: left;
}
.fr {
	float: right;
}

body {
    background-color: #fff;
    font: 16px josefin, PingFang SC, 'Microsoft YaHei', arial, sans-serif;
    /* color: rgba(2,0,0,.6); */
}
/*版心*/
.main {
	/* background-color: #f1f1f1; */
}
.w {
    line-height: 1.75;
    /* background-color: #970; */
	width: 84%;
	margin: 0 auto;
}

/* me page */
.me {
    padding: 100px 0 80px;
}
.about-profile
{
    /* width:47.8166666%; */
    margin: 0 auto;
    text-align: center;
}
.media-img
{
    margin-bottom: 15px;
}
.img-box {
    margin: 0 auto;
    position: relative;
}
.avatar {
    border-radius: 50%;
}

/* skill page */
.skill, .contact, .proj, .item {
    padding: 80px 0;
}
.skill {
    background-color: #1c1c1c;
    color: #e0e0e0;
    height: 565px;
    box-sizing: border-box;
}
.page-name {
    height: 163px;
    text-align: center;
}
.page-name .title {
    padding: 20px 0 15px;
    font-size: 16px;
    font-weight: 400; /* normal */
    color: #999;
    letter-spacing: 2.4px;

    /* animation-duration: 2s; */
    /* animation-delay: 0s; */
    /* animation-iteration-count: infinite; */
}
.title_en {
    font-size: 40px;
    font-weight: 700;
    color: #e8e8e8;

    /* animation-duration: 2s; */
    animation-delay: .2s;
}
/* .skill-pics {
    animation-delay: .3s;
} */
.skill-pics li {
    /* float: left; */
    display: inline-block;
    margin: 60px calc((98% - 540px) / 10);
}
#skill-pic-1 {
    background: url(https://cinzano.oss-cn-shanghai.aliyuncs.com/images/skills/1.png) no-repeat;
    width: 61px;
    height: 61px;
    margin: 0 auto;
}
#skill-pic-2 {
    background: url(https://cinzano.oss-cn-shanghai.aliyuncs.com/images/skills/2.png) no-repeat;
    width: 61px;
    height: 61px;
    margin: 0 auto;
}
#skill-pic-3 {
    background: url(https://cinzano.oss-cn-shanghai.aliyuncs.com/images/skills/3.png) no-repeat;
    width: 61px;
    height: 61px;
    margin: 0 auto;
}
#skill-pic-4 {
    background: url(https://cinzano.oss-cn-shanghai.aliyuncs.com/images/skills/4.png) no-repeat;
    width: 61px;
    height: 61px;
    margin: 0 auto;
}
#skill-pic-5 {
    background: url(https://cinzano.oss-cn-shanghai.aliyuncs.com/images/skills/5.png) no-repeat;
    width: 61px;
    height: 61px;
    margin: 0 auto;
}
.skill-pic {
    padding: 7.5px 0 15px;
    animation-delay: .2s;
}
.skill-name {
    width: 108px;
    padding: 15px 0 0;
    text-align: center;
    font-size: 18px;
    animation-delay: .5s;
}

/* content page */
.page-1 .header {
    position: relative;
    padding: 80px 0;
    /* background-image: url(https://cinzano.oss-cn-shanghai.aliyuncs.com/images/background/148.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    background-attachment: fixed; */
    background: url(https://cinzano.oss-cn-shanghai.aliyuncs.com/images/background/148.jpg) no-repeat fixed;
    background-size: cover;
    background-position: center 0;
}
.page-1 .header::before {
    background: rgba(0,0,0,.39);
    content: "";
    display: block!important;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.h-container {
    position: relative;
}

.page-2 .header {
    position: relative;
    padding: 192px 0;
    background-image: url(https://cinzano.oss-cn-shanghai.aliyuncs.com/images/background/26.jpg);
    background-repeat: repeat;
    /* background-size: auto; */
    background-position: 65% 0;
    background-attachment: fixed;
}
.page-2 .header::before {
    background: rgba(0,0,0,.39);
    content: "";
    display: block!important;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.proj, .item {
    border-bottom: 1px solid #e6e6e6;
}
.proj .title {
    font-size: 100%;
    text-align: center;
}
.proj .type {
    font-size: 18px;
    text-align: center;
    color: #888;
    margin-bottom: 45px;
}
.proj .desc {
    margin: 0 11px 35px;
}
.desc p {
    text-align: center;
}
div.bu {
    text-align: center;
    margin-bottom: 70px;
}
a.bu {
    color: #fff;
}
.p-btn {
    background: #888;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1px;
    padding: 12px 20px;
}

.item .title {
    text-align: center;
    letter-spacing: 2.4px;
    margin-bottom: 40px;
}
.item .container {
    width: 100%;
    padding: 0 10px;
}

#grid-1, #grid-2 {
    width: 100%;
    margin: 0 auto;
}

.padding{   /* add classes to items 来修改boostrap预设的padding值 */
	padding: 10px 5px;
}
.grid-item {
    background: white;
	width: 100%;
	margin: 10px 0px;
}
.grid-item:hover {
    opacity: 0.4;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
img.thumb {
    /* border-radius: 5px; */
    width: 100%;
    max-width: 100%;
    height: auto;
}



/* .contact {
    margin-bottom: 130px;
} */
.social {
    text-align: center;
    font-size: 18px;
    margin-bottom: 35px;
    animation-delay: 0.4s;
}
.social a span {
    color: grey;
}
.social>span {
    color: black;
}
.info {
    margin-bottom: 130px;
    animation-delay: 1s;
}
.info-text {
    display: inline-block;
    width: 66.7%;
    margin: auto 0;
    margin-right: 1.2%;
}
.info-me {
    display: inline-block;
    margin-left: 1.2%;
}

.to-top {
    display: none;
    padding: 8px 12px;
    color: #fff;
    background-color: rgba(0,0,0,.3);/* #1c21da; 基佬紫色 */
    border-radius: 2px;
}
.to-top:hover {
    opacity: .8;
    color: #fff;
}